<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Cucumber Suite">
    <test name="Cucumber with TestNG Test">
        <classes>
            <class name="com.example.runner.RunCucumberTest">
            </class>
        </classes>
    </test>
</suite>